body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.item-active {
  font-weight: bold;
  color: green;
  font-size: 25px;
}
.list-item {
  color: chocolate;
  list-style-type: square;
}
.logowanie {
  color: orangered;

}
.article-title {
  color: green;
  font-family: verdana;
  font-size: 200%;
}

.article-data {
  color: blue;
}